<template>
  <div id="flexContainer" v-cloak>
    <h1>实例带你理解CSS弹性布局</h1>
    <div class="flex_table_con">
      <table id="flex_table">
        <thead>
          <tr>
            <!-- 这里为了让这个th单独占一行，巧妙地将colspan设置为一个超级大的数字100，因此只要列数不超过100都会只显示一行 -->
            <th colspan="100">
              父元素属性:flex-direction flex-wrap flex-flow justify-content align-items
              align-content
            </th>
          </tr>
          <tr>
            <th v-for="item in th_title" :key="item">{{ item }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in th_list_parent">
            <td v-for="inner in item">{{ inner }}</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th colspan="100">
              子元素属性：order, flex-grow, flex-shrink, flex-basis, flex, align-self
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in th_list_child">
            <td v-for="inner in item">{{ inner }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>
      默认：元素从左至右一行内显示，并且即使挤不下也不换行，而是宽度缩小；高度被拉伸至交叉轴高度，flex-basis
      属性为 auto
    </p>
    <div class="common_parent">
      <div class="common_child" v-for="(item, index) in 5" :key="item">{{ index }}</div>
    </div>
    <!-- ⇨⇦⇩⇧ -->
    <p class="strong">
      flex-direction可以改变主轴的方向，无论是什么值，交叉轴只会有两种情况：
    </p>

    <p>
      1. flex-direction值为row/row-reverse：交叉轴是垂直方向，并且上面是起点下面是终点
    </p>
    <p>
      2. flex-direction值为colum/column-reverse：交叉轴为水平方向，并且左边起点右边是终点
    </p>
    <p>
      如果所有项目的flex-grow属性都为1，则它们将等分剩余空间（如果有的话）。如果一个项目的flex-grow属性为2，其他项目都为1，则前者占据的剩余空间将比其他项多一倍。如果flex-grow都为0，则都不放大
    </p>
    <div class="common_parent">
      <div class="common_child grow_1">flex-grow为1</div>
      <div class="common_child grow_2">flex-grow为2</div>
      <div class="common_child" v-for="item in 2">flex-grow为默认0</div>
    </div>
    <p>缩小浏览器会发现下面flex-shrink为0的子元素不会缩小</p>
    <div class="common_parent">
      <div class="common_child" v-for="item in 4">flex-shrink为默认的1</div>
      <div class="common_child shrink_0">flex-shrink为0</div>
    </div>
    <p>
      flex-basis属性定义了在分配多余空间之前，项目占据的主轴空间（可以理解为更高优先级的width，会覆盖width属性，除了设定宽度没什么用）。浏览器根据这个属性，计算主轴是否有多余空间。它的默认值为auto，即项目的本来大小。flex:0和flex:0%基本一致，但是前者会参与剩余空间的分配，后者不参与
    </p>
    <div class="common_parent">
      <div class="common_child basis_400">
        设置了flex-basis为400px，覆盖了原来的width:200px
      </div>
      <div class="common_child basis_100">设置flex-basis为100px，覆盖了原来的200px</div>
      <div class="common_child">普通div，宽度为200px</div>
    </div>
    <div class="common_parent">
      <div class="common_child basis_0" v-for="item in 4">flex-basis: 0</div>
      <div class="common_child">普通div，宽度为200px</div>
    </div>
    <div class="common_parent">
      <div class="common_child" v-for="item in 4">flex-basis: auto（默认）</div>
      <div class="common_child">普通div，宽度为200px</div>
    </div>
    <p>
      align-self默认为auto，继承父元素的align-items值，如果父元素也没有设置align-item，则会使用浏览器的默认值
      stretch 进行填充
    </p>
    <div class="common_parent parent_2">
      <div class="tip">父元素：align-items: flex-start</div>
      <div class="common_child" v-for="item in 2">
        默认继承父元素align-items(flex-start)
      </div>
      <div class="common_child stretch_align">align-self: stretch</div>
      <div class="common_child align-child">align-self: flex-end</div>
    </div>
    <div class="common_parent parent_3">
      <div class="tip">
        父元素：<br />
        justify-content: flex-end<br />
        不设置align-items，
      </div>
      <div class="common_child" v-for="item in 2">
        align-self 默认继承父元素align-items，父元素未设置，则为stretch
      </div>
      <div class="common_child align-child">align-self: flex-end</div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
const th_title = ref(["属性", "意义", "值1（默认）", "值2", "值3", "值4", "值5", "值6"]);
const th_list_parent = ref([
  [
    "flex-direction",
    "主轴方向",
    "row(→)",
    "row-reverse(←)",
    "column(↓)",
    "column-reverse(↑)",
  ],
  ["flex-wrap", "是否换行", "nowrap(不换行)", "wrap(换行)", "wrap-reverse(反向换行)"],
  ["flex-flow", "flex-direction + flex-wrap 的缩写", "row nowrap"],
  [
    "justify-content",
    "主轴对齐方式",
    "flex-start",
    "flex-end",
    "center",
    "space-between",
    "space-around",
  ],
  [
    "align-items",
    "交叉轴对齐方式",
    "stretch(拉伸以撑满交叉轴)",
    " flex-start",
    "flex-end",
    "center",
    "baseline(第一行文字底部对齐)",
  ],
  [
    "align-content",
    "多根主轴在交叉轴方向的对齐方式，只有一根则不生效",
    "stretch：拉伸以撑满交叉轴",
    "flex-start",
    "flex-end",
    "center",
    "space-between",
    "space-around",
  ],
]);
const th_list_child = ref([
  ["order", "子元素排列顺序，越小越靠前", "0，默认值", "<0，更靠前", ">0，靠后"],
  [
    "flex-grow",
    "存在剩余空间时，是否放大，按照数字比例来分割剩余空间，默认为0不放大",
    "0，默认值",
  ],
  [
    "flex-shrink",
    "空间不足时是否缩小，默认为1缩小，为0则不缩小，值越大缩小越多",
    "1",
    "0",
    ">1，缩小按比例增加",
  ],
  [
    "flex-basis",
    "子元素占主轴大小",
    "auto，默认值，如果设置了确定的尺寸，比如width，则使用该值，否则为内容宽度",
    "content (由内容决定宽度：相当于width:fit-content)",
    "任意长度，如100px。如果设置为0，会变为该元素能够折叠的最小宽度",
  ],
  [
    "flex",
    "flex-grow flex-shrink flex-basis 三者的简写",
    "0 1 auto ，默认值，不放大，会缩小",
    "auto (1 1 auto)",
    "none(0 0 auto)",
    "1 (等价于1 1 0 ，即自动放大、自动缩小、均分宽度)，也可以是其它任何数字num，等价于num 1 0",
  ],
  [
    "align-self",
    "单个项目在交叉轴的对齐方式，可覆盖父元素的align-items属性",
    "auto，默认值继承align-items，即stretch",
    "flex-start",
    "flex-end",
    "center",
    "baseline",
    "stretch",
  ],
]);
</script>

<style lang="less" scoped>
div {
  box-sizing: border-box;
}
#flexContainer {
  text-align: left;
  margin: auto;
  min-height: 100vh;
  box-sizing: content-box;
  padding: 0 40px 50px 40px;
  overflow: auto; //形成BFC，避免h1标签的margin溢出.
  background-color: rgba(248, 240, 197, 0.2);
  width: 100%;
  // background-size: cover;
  // background-clip: text;
  // -webkit-background-clip: text;
  // color: rgba(0, 0, 0, 0.4);

  @media screen and (min-width: 1281px) {
    // width: 70%;
    padding-left: 15%;
    padding-right: 15%;
  }

  @media screen and (min-width: 961px) and (max-width: 1280px) {
    // width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }

  // 手机屏幕/小屏幕样式适配
  @media screen and (min-width: 721px) and (max-width: 960px) {
    // width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }

  // @media screen and (max-width: 720px) {
  //   width: 100%;
  // }

  p {
    font-weight: bold;
  }

  .flex_table_con {
    width: 100%;
    overflow-x: auto;
  }

  #flex_table {
    width: 100%;
  }

  #flex_table,
  th,
  td,
  tr {
    border: 1px solid;
    border-collapse: collapse;
    font-size: 1rem;
    word-break: break-all;
  }

  td:hover,
  th:hover {
    background-color: rgba(247, 166, 166, 0.5);
  }

  td,
  th {
    min-width: 100px;
    padding: 10px 10px;
  }

  .common_parent {
    width: 100%;
    border: 1px solid #b9c8d8;
    display: flex;
    margin: 10px 0;
    position: relative;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;

    .tip {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
    }
  }

  .common_child {
    width: 200px;
    // height: 40px;//height无需设置，会自适应字体高度/line-height
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid burlywood;
    text-align: center;
    // line-height: 40px;
    padding: 10px 0px;
  }

  .parent_1 {
    height: 180px;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: flex-end;
  }
  .parent_1_1 {
    height: 180px;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .litter_child {
    width: 100px;
  }

  .big_child {
    width: 400px;
  }

  .grow_1 {
    flex-grow: 1;
  }

  .grow_2 {
    flex-grow: 2;
  }

  .shrink_0 {
    flex-shrink: 0;
  }

  .basis_400 {
    flex-basis: 400px;
  }

  .basis_100 {
    flex-basis: 100px;
  }
  .basis_0 {
    flex-basis: 0;
  }

  .parent_2 {
    height: 180px;
    align-items: flex-start;
    flex-direction: row-reverse;
  }
  .align-child {
    align-self: flex-end;
  }
  .stretch_align {
    align-self: stretch;
  }

  .parent_3 {
    height: 180px;
    justify-content: flex-end;
  }
  .strong {
    font-weight: bold;
    font-size: 1.1rem;
  }
}
</style>
