<template>
  <Teleport to=".header">
    <el-button
      :disabled="parentIsShowMenu"
      @click="toggleToc"
      v-show="active"
      class="showTocBtn"
      type="primary"
    >
      <i-ep-fold v-show="!isShow"></i-ep-fold>
      <i-ep-expand v-show="isShow"></i-ep-expand>
    </el-button>
  </Teleport>
  <mdContent></mdContent>
</template>

<script setup>
import "../assets/css/github-markdown.min.css";
import "../assets/css/prism-github.css";

import mdContent from "../assets/markdown/web.md";
import { nextTick, ref, watch, onActivated, onDeactivated, inject } from "vue";
let tocNode, markdownBody;

const active = ref(true);
// 当前路由组件使用了keep-alive缓存，因此切换路由不会被销毁，需要用特殊的两个生命周期钩子
onActivated(() => {
  active.value = true;
  if (isShow.value) {
    hideToc();
  }
});
onDeactivated(() => {
  active.value = false;
});

const parentIsShowMenu = inject("isShowMenu");
watch(parentIsShowMenu, (newVal) => {
  if (newVal) {
    hideToc();
  }
});

function jumpEvent() {
  tocNode.addEventListener("click", function (event) {
    const clickedEl = event.target.closest("a");
    event.stopPropagation();
    if (clickedEl) {
      hideToc();
      const targetId = clickedEl.getAttribute("href").slice(1);
      const targetEl = document.getElementById(targetId);
      if (targetEl) {
        event.preventDefault(); // 拦截默认行为以自定义滚动
        window.scrollTo({
          top: targetEl.offsetTop,
          behavior: "smooth",
        });
      }
    }
  });
}
let isShow = ref(false);
function toggleToc() {
  isShow.value = !isShow.value;
}
function hideToc() {
  isShow.value = false;
}
function listenContent() {
  markdownBody.addEventListener("click", function (event) {
    if (event.target === tocNode) return;
    else {
      hideToc();
    }
  });
}

nextTick(() => {
  tocNode = document.querySelector(".table-of-contents");
  markdownBody = document.querySelector(".markdown-body");
  jumpEvent(); // 目录跳转事件拦截器，使其滑动跳转

  listenContent(); // 监听文档主体，使其点击的时候收起右侧目录

  watch(isShow, function (newVal, oldVal) {
    if (newVal) {
      tocNode.classList.add("expandTable");
    } else {
      tocNode.classList.remove("expandTable");
    }
  });
});
</script>

<style lang="less">
@tableMarginTop: 60px;
@tableWidth: 35%;
@animationDuration: all ease-in-out 0.3s;
@rightPadding: 30px;
@leftPadding: 50px;

@media (max-width: 719px) {
  @tableWidth: 17rem;

  .table-of-contents {
    width: @tableWidth!important;
    right: -@tableWidth!important;
  }
}

ol {
  list-style-type: decimal !important;
}

.expandBtn {
  right: @tableWidth!important;
}
.showTocBtn {
  position: absolute;
  z-index: 3;
  bottom: 0%;
  transform: translate(0, -40%);
  right: @rightPadding;
}

.markdown-body {
  position: relative;
  padding-left: @leftPadding;
  padding-right: @rightPadding;
  overflow-x: hidden;
  padding-top: 40px;

  // 右侧目录栏
  .table-of-contents {
    position: fixed;
    background: white;
    overflow: auto;
    height: 100vh;
    width: @tableWidth;
    top: @tableMarginTop;
    right: -@tableWidth;
    transition: @animationDuration;
    z-index: 3;
    overflow: scroll;
    padding-bottom: 3.6rem;
  }
  .expandTable {
    right: 0% !important;
  }
}
</style>
