<template>
  <div id="threeContainer">
    <div class="btn_parent">
      <a id="forward" class="super_btn" href="#">
        <i></i><i></i>
        <span>前进🔜 </span>
      </a>
    </div>
    <div class="btn_parent">
      <a id="backward" class="super_btn" href="#">
        <i></i><i></i>
        <span>🔙后退 </span>
      </a>
    </div>
  </div>
</template>

<script setup>
import { nextTick, onActivated, onDeactivated, onMounted } from "vue";
import WebGL from "../assets/utils/webGl_check.js";
import { deBounce } from "../assets/utils/utilsFun.js";

//自定义的全局变量以g前缀开头
let g_scene,
  g_camera,
  g_renderer_3d,
  g_renderer_webgl,
  g_axes_helper,
  g_controls_3d,
  g_gltf_loader,
  g_vec,
  g_signed_angle_to,
  g_clock,
  g_texture_loader,
  g_mixer,
  g_tween_pos_obj,
  g_fly;
//自定义常量
const FLIGHT_MODEL_PATH = "./publicAssets/flight/scene.gltf";
const IMAGE_DIRECTORY = "./publicAssets/images/";
const CAMERA_POSITION_Z = 400;
const SCENE_RADIUS = 10000;
/**
 * g_scene : 渲染场景
 * g_camera : 相机
 * g_renderer_3d : 3d渲染器
 * g_renderer_webgl : webGL渲染器
 * g_controls_3d : 3d渲染器的轨道控制器
 * g_gltf_loader : gltf模型加载器，只需要初始化一次即可
 * g_vec : 用于创建一个THREE的三维向量
 * g_deg_to_rad : 简写THREE.MathUtils.degToRad方法
 * g_rad_to_deg : 简写THREE.MathUtils.radToDeg方法
 * g_signed_angle_to : 两个向量之间的夹角，为angleTo的变体，angleTo只返回一个0~180之间的正数角度，本方法会返回带符号的角度
 * g_clock : THREE的时间
 * g_texture_loader : 纹理加载器，全局只需要定义一个
 * g_mixer : 动画混合器，用于加载gltf模型的动画
 * g_tween_pos_obj : Tween对象
 *
 * 以下是THRRE中的官方模块：
 * THREE : THREE库
 * OrbitControls : 控制器，可以在屏幕上滑动以查看不同角度的3d效果
 * GLTFLoader : gltf模型加载器，用于加载gltf格式的3d模型
 * CSS3DObject/CSS3DRenderer : 用于3d场景与DOM节点相关联与结合
 * TWEEN : TWEEN动画库，自定义模型在场景中的动画
 */
import * as THREE from "three";
import { OrbitControls } from "three/addons/controls/OrbitControls.js"; //必须显示引入才能生效，用于控制模型
import { GLTFLoader } from "three/addons/loaders/GLTFLoader.js"; //同上需要显示引入
import { CSS3DRenderer } from "three/addons/renderers/CSS3DRenderer.js"; //三维物体和基于HTML的标签相结合
import TWEEN from "tween.js";

let threeContainer;

function resizeHandler() {
  // if (!g_camera || !threeContainer || !g_camera || !g_renderer_3d || !g_renderer_webgl) {
  //   console.log("未初始化，先不监听resize");
  //   return;
  // } else {
  //   console.log("已经初始化了,直接resize");
  // }
  g_camera.aspect = threeContainer.clientWidth / threeContainer.clientHeight;
  g_camera.updateProjectionMatrix();
  g_renderer_3d.setSize(threeContainer.clientWidth, threeContainer.clientHeight);
  g_renderer_webgl.setSize(threeContainer.clientWidth, threeContainer.clientHeight);
}
const deBouncedResize = deBounce(resizeHandler, 150);
// 同weather页面一样，需要对路由激活/失活时增加/删除监听，并且重新激活的时候避免窗口resize导致canvas渲染异常需要重新渲染
// 这里如果把onActived、onDeactived两个钩子放在main中会因为main是异步调用而报错，不能在异步调用中使用这些钩子，因此直接（放外层+resizeHandler判空）/（放onMounted内部）

onMounted(() => {
  onActivated(() => {
    resizeHandler();
    window.addEventListener("resize", deBouncedResize, { passive: true });
  });
  onDeactivated(() => {
    window.removeEventListener("resize", deBouncedResize);
  });
});

nextTick(() => {
  main();
  btn_init();
});

//入口，检查是否支持webGL，不支持则不显示
function main() {
  threeContainer = document.getElementById("threeContainer");
  if (WebGL.isWebGL2Available()) {
    //继续执行正常渲染
    init_lib();
  } else {
    const warning = WebGL.getWebGLErrorMessage();
    threeContainer.appendChild(
      document.createTextNode("您的浏览器不支持WebGL，请换个浏览器试试~")
    );
    threeContainer.appendChild(warning);
  }
}

function btn_init() {
  let btns = document.querySelectorAll(".super_btn");
  for (let btn of btns) {
    btn.addEventListener("mousemove", (e) => {
      let rect = e.target.getBoundingClientRect();
      let x = e.clientX - rect.left;
      btn.style.setProperty("--deg", x + "deg");
    });
  }
}

//动态引入各种库并且赋值
function init_lib() {
  main_3d(); //把下面的都装到main_3d函数中去
}

//入口函数，各种库已经动态加载完毕，绘制3d内容
function main_3d() {
  // console.log(OrbitControls);
  // console.log(GLTFLoader);
  // console.log(CSS3DRenderer);
  // console.log(TWEEN);

  //已验证，确实已经加载好

  //初始化场景以及模型、全局变量赋值等
  init_scene_var();

  //添加光源以及光源辅助对象等等
  const lights_arr = [create_light("white", 0, 0, 100)];
  g_scene.add(...lights_arr);
  animate();

  for (let i = 0; i < 120; i++) {
    //黄色的范围：red239 green: 212, blue 72~182
    let red = 239,
      green = 212,
      blue = 72 + Math.random() * 110;
    let y = Math.random() * 1500 + 500,
      radius = Math.sqrt(SCENE_RADIUS ** 2 - y ** 2),
      x = Math.random() * radius * 2 - radius,
      z_max = Math.sqrt(radius ** 2 - x ** 2),
      z = Math.random() * z_max * 2 - z_max;
    if (i > 70) {
      red = 255;
      green = 255;
      blue = 255;
    }
    let temp = create_star(
      `rgb(${Math.round(red)},${Math.round(green)},${Math.round(blue)})`
    );
    temp.position.set(x, y, z);
    g_scene.add(temp);
  }

  create_flight();

  add_full_background();
}

//初始化场景以及变量赋值，包括自定义的全局变量，全部是同步操作，在本步骤之前所有的库均已异步加载完毕
function init_scene_var() {
  //返回一个3维向量
  g_vec = function (x, y, z) {
    return new THREE.Vector3(x, y, z);
  };
  g_signed_angle_to = function (s_normal, e_normal) {
    const angle = s_normal.angleTo(e_normal);
    const axis = g_vec(0, 1, 0);
    const base_v = s_normal.clone().applyAxisAngle(axis, -Math.PI / 2); //起始方向向量顺时针旋转90度
    const sign = e_normal.dot(base_v);
    if (sign > 0) return -angle;
    return angle;
  };

  g_clock = new THREE.Clock(); //用于动画计时
  g_texture_loader = new THREE.TextureLoader(); //纹理加载器，全局只需要定义一个
  g_scene = new THREE.Scene(); //创建场景
  g_scene.background = new THREE.Color("black");
  // g_axes_helper = new THREE.AxesHelper(100);
  // g_scene.add(g_axes_helper);

  g_camera = new THREE.PerspectiveCamera(
    55,
    threeContainer.clientWidth / threeContainer.clientHeight,
    0.1,
    100000
  );
  g_camera.position.set(0, 0, CAMERA_POSITION_Z);
  g_camera.lookAt(0, 0, 0);

  //初始化3d渲染器
  g_renderer_3d = new CSS3DRenderer();
  g_renderer_3d.setSize(threeContainer.clientWidth, threeContainer.clientHeight);
  g_renderer_3d.domElement.style.position = "absolute";
  g_renderer_3d.domElement.style.top = "0px";

  //初始化webgl渲染器
  g_renderer_webgl = new THREE.WebGLRenderer({ antialias: true }); //全局抗锯齿
  g_renderer_webgl.setPixelRatio(window.devicePixelRatio);
  g_renderer_webgl.setSize(threeContainer.clientWidth, threeContainer.clientHeight);
  g_renderer_webgl.shadowMap.enabled = true; //开启阴影
  g_renderer_webgl.shadowMap.type = THREE.PCFShadowMap;

  const document_fragment = document.createDocumentFragment(); //DocumentFragment容器可以添加多个虚拟Dom元素并且一次性渲染到页面上，避免多次操作Dom
  document_fragment.append(g_renderer_3d.domElement, g_renderer_webgl.domElement);
  document.getElementById("threeContainer").appendChild(document_fragment);

  g_gltf_loader = new GLTFLoader();

  g_controls_3d = new OrbitControls(g_camera, g_renderer_3d.domElement);
  g_controls_3d.enableDamping = true; //增加控制器阻尼感
  g_controls_3d.maxDistance = 10000;

  window.addEventListener("resize", deBouncedResize, { passive: true });
}

function create_star(color) {
  const yellowMaterial = new THREE.MeshBasicMaterial({ color: color || "white" }); // 黄色材质
  const radius = 8; // 半径
  const sphereGeometry = new THREE.SphereGeometry(radius, 32, 32); // 创建几何体
  const sphere = new THREE.Mesh(sphereGeometry, yellowMaterial); // 创建小球对象

  // 创建光晕精灵
  const haloTexture = new THREE.TextureLoader().load(`${IMAGE_DIRECTORY}halo.png`);
  const haloSprite = new THREE.Sprite(
    new THREE.SpriteMaterial({
      map: haloTexture,
      color: color || "white", // 光晕颜色
      transparent: true,
      opacity: 1,
      blending: THREE.AdditiveBlending, // 加法混合模式
    })
  );
  haloSprite.scale.set(200, 200, 100); // 调整光晕大小

  // 将光晕精灵添加为小球对象的子对象
  sphere.add(haloSprite);
  return sphere;
}

function add_full_background() {
  const img_path = `${IMAGE_DIRECTORY}night_sky.jpg`;
  g_texture_loader.load(img_path, (texture) => {
    const sphere_geometry = new THREE.SphereGeometry(SCENE_RADIUS, 64, 64); //半径，垂直分段数64，水平分段数64
    const sphere_material = new THREE.MeshBasicMaterial({
      map: texture,
      side: THREE.BackSide,
    }); //材质上设置贴图，并且渲染球体内侧而非外侧
    const sphere_obj = new THREE.Mesh(sphere_geometry, sphere_material);
    sphere_obj.rotation.y = Math.PI / 3.6; // 调整云层背景的位置
    g_scene.add(sphere_obj);
  });
}

//添加飞机模型并且规定飞行路线
async function create_flight() {
  // 图片
  const image_info = [
    {
      url: `${IMAGE_DIRECTORY}resume_0.jpg`,
      position: g_vec(200, 200, -600),
      width: 394,
      height: 280,
    },
    {
      url: `${IMAGE_DIRECTORY}resume_1.jpg`,
      position: g_vec(-500, -400, -2000),
      width: 270,
      height: 374,
    },
    {
      url: `${IMAGE_DIRECTORY}resume_2.jpg`,
      position: g_vec(1900, -300, -4000),
      width: 292,
      height: 391,
    },
    {
      url: `${IMAGE_DIRECTORY}resume_3.jpg`,
      position: g_vec(-600, 800, -5000),
      width: 272,
      height: 402,
    },
  ];
  const img_3ds = add_personal_pic(image_info); //添加要展示的图片到场景中
  //!!!!!!!!添加的CSS3DObject图片会挡住离镜头更近的模型，这是不符合正常视角的

  const flight_content = await load_gltf(FLIGHT_MODEL_PATH); //模型对象，加载完之后才会继续后续的操作
  const flight_model = flight_content.scene;

  flight_model.position.set(0, 0, 0);
  flight_model.is_moving = false; //标识飞机是否在移动
  flight_model.look_direction = g_vec(
    flight_model.position.x,
    flight_model.position.y,
    flight_model.position.z - 1
  ); //设置一个自定义属性look_direction，以保存模型的方向
  flight_model.lookAt(flight_model.look_direction); //让飞机的头超前尾朝后
  flight_model.scale.set(100, 100, 100);

  g_mixer = new THREE.AnimationMixer(flight_model);
  g_mixer.clipAction(flight_content.animations[0]).play(); //播放模型的第一个动画
  g_scene.add(flight_model);

  //飞机飞行路线
  g_tween_pos_obj = new TWEEN.Tween(flight_model.position); //当前位置

  let current_point = -1; //当前要飞往的点下标
  //飞行的起始函数+回调函数
  g_fly = async function (step = 1) {
    if (flight_model.is_moving) {
      return;
    }
    //说明模型现在已经停下来了
    current_point += step;
    if (current_point >= image_info.length || current_point < 0) {
      //最后一个点
      // console.log("已到达最后一个点，不处理，要飞的点：", current_point);
      current_point -= step; //由于不能飞行，撤销current_point的改动
      return;
    }
    flight_model.is_moving = true; //将飞行标志改为true，表示正在飞行
    g_controls_3d.enableRotate = false; //飞行过程中禁止控制器手动控制，避免画面抽动

    //视角移动，开始移动时要将视角从上一个图像的位置移动到飞机模型的位置；飞行结束之后要将视角从飞机模型位置移动到当前图像位置
    function look_img() {
      //飞行结束后触发，视角从飞机移动到图像上
      let temp = flight_model.position.clone();
      move_control_target(
        temp,
        img_3ds[current_point].position,
        flight_model,
        true,
        undefined
      );
    }
    if (current_point == 0 && step == 1) {
      const is_init_pos =
        Math.abs(g_camera.position.x - flight_model.position.x) <= 1 &&
        Math.abs(g_camera.position.y - flight_model.position.y) <= 1 &&
        Math.abs(g_camera.position.z - flight_model.position.z - CAMERA_POSITION_Z) <= 1;
      if (!is_init_pos) {
        //起始点调整了视角，则需要调回去，之所以相减取绝对值是因为小数不精确无法使用===来判断
        let temp = flight_model.position.clone();
        await move_control_target(temp, temp);
      }
    } else {
      //飞行开始前触发，把视角从图像移动到飞机上
      let temp = img_3ds[current_point - step].position.clone();
      await move_control_target(temp, flight_model.position);
    }
    tween_fly(
      flight_model,
      image_info[current_point].position,
      undefined,
      undefined,
      look_img
    );
  };
  document.getElementById("forward").addEventListener("click", function () {
    g_fly();
  });
  document.getElementById("backward").addEventListener("click", function () {
    g_fly(-1);
  });
}

//把一系列点转化为多个三维向量组成的数组，方便传参时不用写那么多层嵌套
function get_vector3s(array) {
  const result = [];
  for (let i = 0; i < array.length; i += 3) {
    const vector = new THREE.Vector3().fromArray(array, i);
    result.push(vector);
  }
  return result;
}

function tween_fly(model, next_point, timing, fly_mode, callback) {
  //旋转部分的动画
  rotate_tween();

  function rotate_tween() {
    let pos = model.position;
    let look_normal = new THREE.Vector3().subVectors(model.look_direction, pos); //当前点到当前方向的单位向量
    if (look_normal.x == 0 && look_normal.z == 0) {
      look_normal.z -= 0.001;
    }
    look_normal.normalize();
    let next_direction = new THREE.Vector3().subVectors(next_point, pos);
    let normal = next_direction.normalize(); //当前点到下一个点方向的单位向量
    let target_finally = next_point.clone().add(normal); //成功旋转之后把目标设置为最终的正确朝向

    // 方向参考线
    // g_scene.add(new THREE.Line(new THREE.BufferGeometry().setFromPoints([pos, next_point, target_finally]), new THREE.LineBasicMaterial({color:'pink'})));

    //x轴、y轴旋转弧度，旋转动画的速度--旋转1弧度值需要的时间（毫秒）
    let x_rad = -(Math.asin(normal.y) - Math.asin(look_normal.y)),
      y_rad = g_signed_angle_to(
        g_vec(look_normal.x, 0, look_normal.z).normalize(),
        g_vec(normal.x, 0, normal.z).normalize()
      ),
      rotate_speed = 200;

    //******* rotateX(x_rad)当x>0时，头朝下，当x<0时，头朝上旋转，因此计算出目标向量的x夹角分量-当前朝向向量x夹角分量后要取相反数
    //******* rotateY(y_rad)当y>0时，逆时针旋转，当y_rad<0时，顺时针旋转
    //注意，这里必须是y轴先旋转，否则旋转会出错，z轴不需要旋转了
    //并且：
    // Y轴旋转和X轴旋转必须用如下不同的方式
    // model.rotateOnWorldAxis(g_vec(0,1,0),y_rad);
    // model.rotateX(x_rad);

    axis_rotate();

    function axis_rotate() {
      let t_before = 0; //保存前一个t值
      new TWEEN.Tween({ t: 0 })
        .to({ t: 1 }, Math.abs(y_rad) * rotate_speed)
        .onUpdate(function () {
          let temp = this.t - t_before;
          t_before = this.t;
          model.rotateOnWorldAxis(g_vec(0, 1, 0), y_rad * temp);
        })
        .onComplete(function () {
          t_before = 0;
          new TWEEN.Tween({ t: 0 })
            .to({ t: 1 }, Math.abs(x_rad) * rotate_speed)
            .onUpdate(function () {
              let temp = this.t - t_before;
              t_before = this.t;
              model.rotateX(x_rad * temp);
            })
            .onComplete(function () {
              model.look_direction = target_finally;
              move_tween();
            })
            .start();
        })
        .start();
    }
  }

  //飞行移动部分的动画
  const move_speed = 0.9,
    move_distance = model.position.distanceTo(next_point),
    tween_easing = TWEEN.Easing.Quadratic.InOut;
  function move_tween() {
    g_tween_pos_obj
      .to(next_point, timing || move_distance * move_speed)
      .easing(tween_easing)
      .onUpdate(function () {
        // g_camera.lookAt(this);
        g_camera.position.set(this.x, this.y, this.z + CAMERA_POSITION_Z);
        g_controls_3d.target.set(this.x, this.y, this.z);
      })
      .onComplete(function () {
        if (callback) {
          callback();
        } else {
          model.is_moving = false;
          g_controls_3d.enableRotate = true;
        }
        // callback?.();
      })
      .start();
  }
}

function add_personal_pic(image_info) {
  const image_3ds = image_info.map(function (item, index) {
    let sign = 1; //初始化默认往右边飞，图片向右边偏移，sign为正
    if (index > 0 && image_info[index - 1].position.x > item.position.x) {
      //前一张图片的x小于当前图片x，说明是从前一位置向右边飞到当前位置，则图片向右边偏移，否则向左偏，即sing为负数
      sign = -1;
    }
    const geometry = new THREE.PlaneGeometry(
      Math.floor(item.width),
      Math.floor(item.height)
    );
    const texture = g_texture_loader.load(item.url);
    const material = new THREE.MeshStandardMaterial({
      map: texture,
      side: THREE.DoubleSide,
      // color:'yellow'
    });
    const img_3dobj = new THREE.Mesh(geometry, material);
    img_3dobj.position.copy(item.position);
    img_3dobj.position.y += item.height / 2;
    img_3dobj.position.x += (sign * item.width) / 2;
    img_3dobj.position.z -= 100;
    return img_3dobj;
  });
  g_scene.add(...image_3ds);
  return image_3ds;
}
function move_control_target(s_target, e_target, model, is_end, callback) {
  return new Promise((resolve, reject) => {
    new TWEEN.Tween({
      target_x: s_target.x,
      target_y: s_target.y,
      target_z: s_target.z,

      camera_x: g_camera.position.x,
      camera_y: g_camera.position.y,
      camera_z: g_camera.position.z,
    })
      .to({
        target_x: e_target.x,
        target_y: e_target.y,
        target_z: e_target.z,

        camera_x: e_target.x,
        camera_y: e_target.y,
        camera_z: e_target.z + CAMERA_POSITION_Z,
      })
      .onUpdate(function () {
        let { target_x, target_y, target_z, camera_x, camera_y, camera_z } = this;
        g_controls_3d.target.set(target_x, target_y, target_z);
        g_camera.position.set(camera_x, camera_y, camera_z);
        g_camera.lookAt(target_x, target_y, target_z);
      })
      .onComplete(function () {
        //当前移动动画到此完整结束
        if (model) {
          model.is_moving = !is_end;
          g_controls_3d.enableRotate = is_end;
          callback?.();
        }
        resolve();
      })
      .start();
  });
}

//创建光源
function create_light(color, x, y, z) {
  let light = new THREE.AmbientLight(color);
  /* position the light so it shines on the cube (x, y, z) */
  light.position.set(x, y, z);
  return light;
}

//Promise封装模型加载器GLTFLoader
function load_gltf(model_url) {
  return new Promise((resolve, reject) => {
    g_gltf_loader.load(
      model_url,
      function (gltf) {
        //加载成功
        resolve(gltf); //gltf.scene才是真正的模型Mesh，gltf.animations才是模型的动画数组
      },
      undefined, //模型加载进度回调
      function (error) {
        //模型加载失败
        reject(error);
      }
    );
  });
}

//动起来！
function animate() {
  requestAnimationFrame(animate);

  g_controls_3d.update(); //控制器会重新计算相机的朝向，这会覆盖之前设置的 g_camera.lookAt(100, 0, 0)。

  TWEEN.update();

  if (g_mixer) {
    const delta = g_clock.getDelta();
    g_mixer.update(delta); //推进混合器时间并更新动画
  }

  g_renderer_3d.render(g_scene, g_camera);
  g_renderer_webgl.render(g_scene, g_camera);
}

/**
 * 使用了模块化的方式加载和引入所需的库和组件，这有助于保持代码的可维护性和可扩展性。
 * 通过异步加载库文件，优化了应用的性能，避免了一次性加载过多的代码。
 * 使用了合理的注释，清晰地说明了代码的作用和功能，使他人能够更好地理解你的代码。
 * 代码结构清晰，将不同的功能模块划分为独立的函数，提高了代码的可读性和可维护性。
 * 使用了常量和变量的命名规范，使代码易于理解和阅读。
 * 处理了浏览器不支持WebGL的情况，提供了友好的提示和错误处理。
 * 使用了合适的Three.js库和功能，如光源、模型加载和动画等，展示了对Three.js的熟悉和正确使用。
 */
</script>

<style lang="less" scoped>
#threeContainer {
  align-self: stretch;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-top: -3.6rem;
  position: relative;
  @btn_width: 150px;
  @btn_height: 55px;

  .btn_parent {
    --deg: 45deg;
    z-index: 2;

    .super_btn {
      position: absolute;
      width: @btn_width;
      height: @btn_height;
      background-color: white;
      bottom: 50px;
      max-width: 30%;

      i {
        position: absolute;
        inset: -2px;
        display: block;
        border-radius: 5px;
        background: linear-gradient(var(--deg), #00ccff, #0e1538, #0e1538, #d400d4);
      }

      i:nth-child(2) {
        filter: blur(10px);
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 2px;
        border-radius: 3px;
        border: 1px solid #040a29;
        background: rgba(14, 21, 56, 0.65);
        overflow: hidden;
        font-weight: bold;
      }

      span::before {
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.075);
        transform: skew(25deg);
      }
    }
  }

  @margin: 100px;
  #forward {
    right: @margin;
  }

  #backward {
    left: @margin;
  }

  @portrait_width: 200px;
  @landscape_width: 350px;

  @media (max-width: 719px) {
    @margin: 40px;
    #forward {
      right: @margin;
    }

    #backward {
      left: @margin;
    }
  }
  .img_landscape {
    width: @landscape_width;
  }

  .img_portrait {
    width: @portrait_width;
    z-index: -1;
  }
}
</style>
