<template>
  <div class="weatherContainer">
    <!-- <h1>天气</h1> -->
    <div class="citySelector">
      <v-distpicker
        :province="address.province"
        :city="address.city"
        :disabled="otherSearch"
        hide-area
        @province="onChangeProvince"
        @city="onChangeCity"
      ></v-distpicker>

      <el-button
        type="primary"
        :disabled="!goodArea || otherSearch"
        @click="getWeather"
        class="searchBtn"
        size="large"
        >查询天气</el-button
      >
    </div>
    <!-- <div>{{ Object.values(address).reduce((pre, cur, index, origin) => pre + cur) }}</div> -->

    <div
      class="currentWeather"
      :style="{ backgroundImage: 'url(' + getIcon(currentWeather.weather)[1] + ')' }"
    >
      <div class="currentWeatherOverlay"></div>
      <div class="row1">
        <img class="bigIcon" :src="getIcon(currentWeather.weather)[0]" />
        <div class="temperature">{{ currentWeather?.temperature }}℃</div>
        <div class="s">
          <div class="weather">
            {{ currentWeather ? currentWeather.weather : "天气" }}
          </div>
          <div class="feelsTemperature">
            体感温度：{{ currentWeather?.feelstemperature }}°
          </div>
        </div>

        <div class="city">
          <i-ep-location></i-ep-location>
          {{ selectedCity }}
        </div>
        <div class="confort">今天{{ confort }}</div>
      </div>
      <div class="row2">
        <div class="air">
          <div>空气质量</div>
          <div class="detail">
            <span>
              <span
                :style="{ backgroundColor: getPColor(air.AQI) }"
                class="colorfulTag"
              ></span
              >{{ air.LevelIndex }}
            </span>

            <el-tooltip
              effect="dark"
              :content="'空气质量指数 : ' + air.AQI"
              placement="right"
            >
              <el-icon class="tips" size="0.9rem">
                <i-ep-warning></i-ep-warning>
              </el-icon>
            </el-tooltip>
          </div>
        </div>
        <div class="pm25">
          <div>PM2.5</div>
          <div>{{ air.PM25 }}</div>
        </div>
        <div class="visibility">
          <div>能见度</div>
          <div>{{ currentWeather?.visibility }}km</div>
        </div>
        <div class="humidity">
          <div>湿度</div>
          <div>{{ currentWeather?.humidity }}</div>
        </div>
        <div class="airPressure">
          <div>气压</div>
          <div>
            {{ currentWeather?.airpressure }}
          </div>
        </div>
      </div>
    </div>

    <div id="echartsCon"></div>

    <div class="forecast7d">
      <h3>未来7天天气</h3>
      <div class="item7d" v-for="(item, index) in forecast7d" :key="item.forecasttime">
        <div class="forecasttime">
          {{ index === 0 ? "今天" : item.forecasttime.slice(-5) }}
        </div>
        <div class="weatherDis">
          {{
            item.weather_am != item.weather_pm
              ? item.weather_am + "转" + item.weather_pm
              : item.weather_am
          }}
        </div>
        <div class="weatherIcon">
          <img :src="getIcon(item.weather_am, item.weather_pm)[0]" />
        </div>
        <div class="temperature">
          {{ item.temperature_pm }}℃ / {{ item.temperature_am }}℃
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, watch, onMounted, onActivated, onDeactivated } from "vue";
// import * as echarts from "echarts";
// 下面是用echarts得按需导入，避免过于体积庞大
// 引入 echarts 核心模块，核心模块提供了 echarts 使用必须要的接口。
import * as echarts from "echarts/core";
// 引入折线图图表，图表后缀都为 Chart
import { LineChart } from "echarts/charts";
// 引入提示框，标题，直角坐标系，数据集，内置数据转换器组件，组件后缀都为 Component
import { TitleComponent, TooltipComponent, GridComponent } from "echarts/components";
// 引入 Canvas 渲染器，注意引入 CanvasRenderer 或者 SVGRenderer 是必须的一步
import { CanvasRenderer } from "echarts/renderers";
// 注册必须的组件
echarts.use([TitleComponent, TooltipComponent, GridComponent, LineChart, CanvasRenderer]);

import VDistpicker from "v-distpicker";
import { zKey } from "../config/apiKey.js";
import { getCityUrl, weatherCommonUrls } from "../config/apiUrl.js";
import request from "../config/request.js";
import { deBounce, getIcon, getPColor } from "../assets/utils/utilsFun.js";

const address = ref({
  province: "湖南省",
  city: "娄底市",
  code: "431302",
});
const goodArea = ref(true);
watch(
  address,
  function (newVal) {
    if (newVal.code === "" || newVal.city === "") {
      goodArea.value = false;
    } else {
      goodArea.value = true;
    }
  },
  { deep: true }
);
function onChangeProvince(data) {
  address.value.province = data.value;
  address.value.city = "";
  address.value.code = data.code;
}
function onChangeCity(data) {
  if (data.value == "市") {
    address.value.city = "";
  } else {
    address.value.city = data.value;
  }
  //对于北京、天津、上海、重庆四个直辖市、香港澳门需要特殊处理，直接取Province的code即可
  const cities = [
    "北京市",
    "天津市",
    "上海市",
    "重庆市",
    "香港岛",
    "九龙",
    "新界",
    "澳门半岛",
    "离岛",
  ];
  if (cities.indexOf(data.value) > -1) {
    return;
  }
  if (data.code) {
    address.value.code = data.code;
  }
}

function getCityId(where) {
  if (["香港岛", "九龙", "新界"].indexOf(where) > -1) {
    where = "香港特别行政区";
  } else if (["澳门半岛", "离岛"].indexOf(where) > -1) {
    where = "澳门特别行政区";
  }
  const p = request({
    url: getCityUrl(where, zKey),
  }).then((res) => {
    if (res && res.code == "ok") {
      const result = res.result.data?.find(function (item, index, originArr) {
        return item.gbid == address.value.code;
      }, undefined);
      if (result) {
        console.log(`第一步，找到了相关的城市信息：${JSON.stringify(result)}`);
        return result;
      }
    }
    return Promise.reject("获取城市ID出错，请换个城市试一试~");
  });
  return p;
}

function getWeatherHours(stationid) {
  const url = weatherCommonUrls("forecast24h", zKey, stationid);
  const p = request({
    url: url,
  }).then((res) => {
    if (res && res.code == "ok") {
      console.log(`第三步，获取到当前24小时天气信息为：`, res.result[0]);
      return res.result[0].jh;
    }
    return Promise.reject("获取24小时天气预报出错！");
  });
  return p;
}

function getCurrentWeather(stationid) {
  const url = weatherCommonUrls("current", zKey, stationid);
  const p = request({
    url: url,
  }).then((res) => {
    if (res && res.code == "ok") {
      console.log(`第四步，获取当前天气信息为：`, res.result[0].current);
      return res.result[0].current;
    }
    return Promise.reject("获取当前天气出错！");
  });
  return p;
}

function getForecast7d(stationid) {
  const url = weatherCommonUrls("forecast7d", zKey, stationid);
  const p = request({
    url: url,
  }).then((res) => {
    if (res && res.code == "ok") {
      console.log("第五步，获取到未来7天的天气信息为：", res.result[0].forecast);
      return res.result[0].forecast;
    }
    return Promise.reject("获取未来7天天气出错！");
  });
  return p;
}
function getAirReport(stationid) {
  const url = weatherCommonUrls("air", zKey, stationid);
  const p = request({
    url: url,
  }).then((res) => {
    if (res && res.code == "ok") {
      console.log("第六步，获取空气质量信息：", res);
      return res.result[0].p;
    }
    return Promise.reject("获取空气质量出错！");
  });
  return p;
}
function getComportD(stationid) {
  const url = weatherCommonUrls("index9type", zKey, stationid);
  const p = request({
    url: url,
  }).then((res) => {
    if (res && res.code == "ok") {
      console.log("第七步，获取舒适度信息：", res.result[0].index[0]);
      return res.result[0].index[0].index_content;
    }
    return Promise.reject("获取空气质量出错！");
  });
  return p;
}

const forecast24h = ref(""); // 24小时预报天气
const currentWeather = ref(""); // 当前天气
const forecast7d = ref(""); // 未来7天天气
const selectedCity = ref(address.value.city); // 当前渲染的城市
const otherSearch = ref(false); // 是否当前正在搜索
const air = ref("");
const confort = ref("");
async function getWeather() {
  if (goodArea.value) {
    try {
      if (otherSearch.value) {
        ElMessage.error("您点击得过快~");
        return;
      }
      otherSearch.value = true;
      const city = await getCityId(address.value.city);
      if (!city) return;
      console.log(`第二步，即将获取24小时天气信息，当前城市为：${JSON.stringify(city)}`);
      [
        forecast24h.value,
        currentWeather.value,
        forecast7d.value,
        air.value,
        confort.value,
      ] = await Promise.all([
        getWeatherHours(city.stationid), // 24小时天气
        getCurrentWeather(city.stationid), //当前天气
        getForecast7d(city.stationid),
        getAirReport(city.stationid),
        getComportD(city.stationid), //舒适度
      ]);
      //全部没问题才进行绘制和渲染
      draw(forecast24h.value);
      selectedCity.value = address.value.city;
    } catch (e) {
      ElMessage.error(String(e));
    } finally {
      otherSearch.value = false;
    }
  }
}

let myChart;
// 初始化echarts
function initChart() {
  myChart = echarts.init(document.getElementById("echartsCon"));
  function resizeHandler() {
    myChart.resize();
  }
  const deBouncedResize = deBounce(resizeHandler, 150);
  window.addEventListener("resize", deBouncedResize, { passive: true });

  //这里已经初始化了图标并且是第一次渲染过后了，因此上面对窗口调整做了监听，下面也对路由路径变化做监听，避免调整窗口后切换回来的时候canvas渲染异常，并且适时添加和删除resize监听器
  onActivated(() => {
    myChart.resize();
    window.addEventListener("resize", deBouncedResize, { passive: true });
  });
  onDeactivated(() => {
    window.removeEventListener("resize", deBouncedResize);
  });
}
// 画图
function draw(data) {
  const timePoints = data.map((item) => item.jf.slice(8, 10) + ":" + item.jf.slice(10));
  const temperatures = data.map((item) => parseFloat(item.jb));

  // 计算纵坐标区间
  const minTemperature = Math.min(...temperatures);
  const maxTemperature = Math.max(...temperatures);

  function getColor(temp) {
    if (temp < 5) return "#3592F4";
    else if (temp >= 5 && temp < 10) return "#BFE7F9";
    else if (temp >= 10 && temp < 15) return "#ffffa2";
    else if (temp >= 15 && temp < 20) return "#ffd992";
    else if (temp >= 20 && temp < 25) return "#f6b949";
    else if (temp >= 20 && temp < 30) return "#e74a21";
    else if (temp >= 30 && temp < 35) return "#ad020e";
    else if (temp >= 35) return "#650017";
  }

  // 配置图表
  const option = {
    grid: {
      left: 20,
      right: 20,
      top: 90,
      bottom: 30,
    },
    title: {
      text: "24小时天气预报",
      top: 20,
    },
    tooltip: {
      trigger: "axis",
      formatter: function (params) {
        var time = params[0].axisValue;
        var temperature = params[0].data + " ℃";
        return time + "<br/>" + temperature;
      },
    },
    xAxis: {
      type: "category",
      data: timePoints,
      boundaryGap: false, // 间距不留空
    },
    yAxis: {
      type: "value",
      show: false,
      min: minTemperature - 5,
      max: maxTemperature,
      axisLabel: {
        formatter: "{value} ℃", // Y轴显示单位 ℃
      },
    },

    series: [
      {
        data: temperatures,
        type: "line",
        smooth: true, // 平滑曲线
        lineStyle: {
          color: "#3876C3", // 设置曲线颜色
        },
        itemStyle: {
          color: "#3876C3", // 设置数据点颜色
        },
        label: {
          show: true,
          position: "top",
          // formatter: "{c}℃", // 显示温度数值
          fontSize: 13,
          formatter: function (params) {
            // 判断当前数据点的索引是否为偶数，如果是偶数则显示标签，否则不显示
            const gap = window.innerWidth < 768 ? 4 : 2;
            if (params.dataIndex % gap === 0) {
              return params.value + "℃"; // 返回标签内容
            } else {
              return ""; // 返回空字符串，表示不显示标签
            }
          },
        },
        symbol: "circle", // 数据点形状
        symbolSize: 6, // 数据点大小
        areaStyle: {
          color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
            {
              offset: 0,
              color: getColor(maxTemperature),
            },
            {
              offset: 0.6,
              color: getColor(
                maxTemperature - (maxTemperature - (minTemperature - 5)) / 2
              ),
            },
            {
              offset: 1,
              color: getColor(minTemperature - 5),
            },
          ]),
        },
      },
    ],
  };

  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
}
onMounted(() => {
  initChart();
  getWeather();
});
</script>

<style scoped lang="less">
div {
  box-sizing: border-box;
}

.weatherContainer > :last-child {
  margin-bottom: 2rem;
}
.weatherContainer {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  align-items: stretch;
  padding: 0 7%;

  .citySelector {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    .distpicker-address-wrapper {
      display: flex;
      flex-flow: row wrap;
    }
    .distpicker-address-wrapper > * {
      margin-right: 1rem;
      margin-top: 1rem;
    }
    .distpicker-address-wrapper > :last-child {
      margin-top: 0rem;
      margin-right: 0rem;
    }

    .searchBtn {
      align-self: flex-end;
      margin-left: 2rem;

      @media (max-width: 719px) {
        margin-left: 0;
      }
    }
  }

  .currentWeather,
  .forecast7d,
  #echartsCon {
    transition: all linear 0.1s;
  }
  .currentWeather:hover,
  .forecast7d:hover,
  #echartsCon:hover {
    transform: scale(1.01);
  }

  .currentWeather::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* 使伪元素位于内容之上 */
  }
  .currentWeather > * {
    z-index: 1;
  }
  .currentWeather {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
    background-size: cover;
    color: white;
    position: relative;
    overflow: hidden;

    // 选择.row1的所有第一层子元素
    .row1 > * {
      padding: 0 10px;
    }
    .row1 > :first-child {
      padding-left: 0px;
    }
    .row1 {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      border-bottom: 1px solid #dcdfe6;
      padding-bottom: 0.7rem;

      .bigIcon {
        width: 5rem;
      }

      .temperature {
        font-size: 2rem;
        padding-right: 30px;
      }
      .s {
        display: flex;
        flex-flow: column nowrap;

        .weather {
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
      .city {
        display: flex;
        align-items: center;
        margin-left: auto;
      }
      .confort {
        padding: 9px 0px;
        width: 100%;
        line-height: 1.8rem;
      }
    }

    .row2 {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 20px;

      .colorfulTag {
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0);
        width: 8px;
        height: 8px;
        display: inline-block;
        margin-right: 5px;
      }

      .air {
        .detail {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
        }
        .tips {
          margin-left: 3px;
        }
        .tips:hover {
          cursor: pointer;
        }
      }
    }
    .row2 > * {
      display: flex;
      flex-flow: column nowrap;
      padding: 10px 10px 0px 0px;
      text-align: center;
      line-height: 1.7rem;
    }
  }

  .forecast7d {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px 20px 20px 20px;
    background-color: #6ab7d7;
    color: white;

    .item7d {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid white;
      padding: 10px 0;

      .forecasttime,
      .weatherDis,
      .weatherIcon,
      .temperature {
        flex: 1;
        white-space: nowrap;
      }

      .weatherIcon,
      .weatherDis {
        text-align: center;
      }

      .temperature {
        text-align: right;
        white-space: nowrap;
      }

      .forecasttime {
        flex-shrink: 1;
      }

      .weatherIcon {
        padding: 0.2rem 0;
        flex-shrink: 1;
        img {
          width: 2rem;
          margin: auto;
        }
      }
    }
    .item7d:last-child {
      border: none;
    }
  }

  #echartsCon {
    height: 300px;
    width: 100%;
    border-radius: 5px;
  }
}
</style>
