<script setup>
import { nextTick, provide, ref, watch } from "vue";
import { useRouter, useRoute } from "vue-router";

const router = useRouter();
const route = useRoute();
function goRoute(options) {
  router.push(options);
}

const isShowMenu = ref(false); // 是否显示目录
const mainMenu = ref(null); // 左侧路由目录的DOM节点
const mainBody = ref(null); // routeView容器
provide("isShowMenu", isShowMenu);
function toggleMainMenu() {
  isShowMenu.value = !isShowMenu.value;
}
function hideMainMenu() {
  isShowMenu.value = false;
}
function listenContent() {
  mainBody.value.addEventListener(
    "click",
    function (event) {
      if (event.target === mainMenu.value) return;
      // event.stopPropagation();
      hideMainMenu();
    },
    { capture: true }
  );
}
nextTick(() => {
  watch(isShowMenu, (newVal) => {
    if (newVal) {
      mainMenu.value.classList.add("showMenu");
    } else {
      mainMenu.value.classList.remove("showMenu");
    }
  });
  listenContent();
});
</script>

<template>
  <div class="appContainer">
    <header class="header">
      <div @click="toggleMainMenu" class="asideBtn">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="logo">
        <img src="./assets/images/title.png" />
      </div>
    </header>

    <div ref="mainBody" class="main">
      <div ref="mainMenu" class="mainMenu">
        <el-menu :default-active="route.path" class="menuPersonal">
          <el-menu-item index="/" @click="goRoute({ path: '/' })">
            天气预报
          </el-menu-item>
          <el-menu-item index="/md" @click="goRoute({ path: '/md' })">
            前端大文档
          </el-menu-item>
          <el-menu-item index="/three" @click="goRoute({ path: '/three' })">
            ThreeJS 3D场景
          </el-menu-item>
          <el-menu-item index="/flex" @click="goRoute({ path: '/flex' })">
            Flex布局
          </el-menu-item>
        </el-menu>
      </div>
      <div class="mainContent">
        <transition name="fade">
          <div v-show="isShowMenu" :class="{ normal: true, overlay: isShowMenu }"></div>
        </transition>
        <router-view v-slot="{ Component }">
          <keep-alive>
            <component :is="Component" />
          </keep-alive>
        </router-view>
      </div>
    </div>
  </div>
</template>

<style lang="less" scoped>
.appContainer {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;

  @headerHeight: 3.6rem;
  .header {
    border-bottom: 1px solid #eaecef;
    height: @headerHeight;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 30;
    background-color: #ffffff;
    padding: 0 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .logo {
      color: rgb(233, 0, 28);
      display: flex;
      align-items: center;
      justify-content: center;
      height: @headerHeight;

      img {
        height: 2.8rem;
      }
    }

    @left_padding: 0.4rem;

    .asideBtn {
      width: 1.2rem;
      height: 1rem;
      flex-flow: column nowrap;
      justify-content: space-between;
      margin-right: 0.5rem;
      display: none;
      padding: @left_padding;
      box-sizing: unset;
      margin-left: -@left_padding;
      cursor: pointer;

      .line {
        width: 100%;
        box-sizing: border-box;
        height: 0%;
        border: 1px solid #000;
      }
    }
  }

  .showMenu {
    transform: translateX(0) !important;
  }
  // 手机屏幕/小屏幕样式适配
  @media (max-width: 719px) {
    .header {
      .asideBtn {
        display: flex;
      }
    }
    .main {
      .mainMenu {
        transform: translateX(-105%);
      }
    }

    .mainContent {
      padding-left: 0 !important;
    }
  }

  .main {
    padding-top: @headerHeight;
    flex-grow: 1;
    display: flex;
    align-items: stretch;

    @aside_width: 14rem;
    @paddingLR: 2rem;
    @topBtnGap: 1rem;

    .mainMenu {
      border-right: 1px solid #eaecef;
      width: @aside_width;
      box-sizing: border-box;
      height: 100%;
      background-color: #fff;
      padding-bottom: @topBtnGap;
      padding-left: @paddingLR;
      overflow: auto;
      transition: all 0.3s ease-in-out;
      position: fixed;
      z-index: 20;
      top: 0%;
      padding-top: @headerHeight+ @topBtnGap + 2rem;
      font-weight: bold;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

      .el-menu {
        border: none !important;
      }

      .menuPersonal {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
      }
      .menuPersonal > * {
        font-size: 1.1rem;
        margin: 0.8rem 0;
      }
    }
    .mainContent {
      padding-left: @aside_width;
      flex-grow: 1;
      display: flex;
      box-sizing: border-box;
      width: 100%;

      .fade-enter-active,
      .fade-leave-active {
        transition: opacity 0.3s;
      }
      .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
      }
      .fade-enter-to,
      .fade-leave {
        opacity: 1;
      }

      .normal {
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 10;
        top: 0;
      }
    }
  }
}
</style>
